body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: linear-gradient(150deg, #403F6F, #0a5cb8, white, #403F6F);
    height: 100vh;
}
.logo {
    display: block;
    margin: 1rem auto;
    width: 8rem; /* Ajusta el tamaño de la imagen según sea necesario */
    height: auto; /* Mantiene la proporción de la imagen */
    padding: 0 0;
}
.Formulario {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: #CACFD2;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.Formulario h1 {
    text-align: center;
    color: #000;
    padding: 0 0 10px 0; /* Reduce el padding inferior para disminuir el espacio debajo del título */
    margin: 0 0 20px;
}

.Formulario form {
    padding: 0 40px 3rem; /* Reduce el padding para disminuir el espacio en los lados */
    box-sizing: border-box;
}

form .username {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.username input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.username label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.username span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #403F6F;
}

.username input:focus ~ label,
.username input:focus ~ label {
    top: -5px;
    color: #403F6F;
}

.username input:focus ~ span::before,
.username input:focus ~ span::before {
    width: 100%;
}
.username input:focus ~ label,
.username input:valid ~ label {
    top: -5px;
    color: #403F6F;
}

.username input:focus ~ span::before,
.username input:valid ~ span::before {
    width: 100%;
}

form .contraseña {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.contraseña input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.contraseña label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.contraseña span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #403F6F;
}

.contraseña input:focus ~ label,
.contraseña input:focus ~ label {
    top: -5px;
    color: #403F6F;
}

.contraseña input:focus ~ span::before,
.contraseña input:focus ~ span::before {
    width: 100%;
}

.contraseña input:focus ~ label,
.contraseña input:valid ~ label {
    top: -5px;
    color: #403F6F;
}

.contraseña input:focus ~ span::before,
.contraseña input:valid ~ span::before {
    width: 100%;
}

input[type="submit"] {
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #403F6F;
    border-radius: 25px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    outline: none;

}

input[type="submit"]:hover {
    border-color: #000;
    transition: .5s;
}



